<html>


<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
<script src="md5.js"></script>
<script type="text/javascript">

</script>
<br>
<form id="UpdateUserCloud" action="https://199.201.136.182:4430/cgi-bin/php-cgi/html/delegatemodule/WebApi.php?controler=User&action=UpdateUserCloud" method="POST" style="margin-top:20px">
	<input id="sinfor_apitoken_UpdateUserCloud" name="sinfor_apitoken" value="" type="hidden"/>			<!--登录验证用的token-->
	old_name:<input name="old_name" value="user1">					<!--老用户名--> 
	new_name:<input name="new_name" value="user2">					<!--新用户名--> 
	parent_group:<input name="parent_group" value="/">				<!--用户组全路径-->
	passwd:<input name="passwd" value="">							<!--密码-->
	note:<input name="note" value="">								<!--用户描述--> 
	phone:<input name="phone" value="">								<!--手机号--> 
	b_inherit_auth:<input name="b_inherit_auth" value="0">			<!--继承所属组认证选项(1:是,0:否)--> 
	b_inherit_grpolicy:<input name="b_inherit_grpolicy" value="1">	<!--继承所属接入策略组(1:是,0:否)-->
	is_enable:<input name="is_enable" value="1">					<!--启用禁用用户1:启用,0:禁用-->
	is_extauth:<input name="is_extauth" value="1">          		<!--是否开启外部认证(1:是,0:否)-->
	is_pwd:<input name="is_pwd" value="0"> 							<!--是否开启密码认证(1:是,0:否)-->
	ext_auth_name:<input name="ext_auth_name" value="ldap">			<!--外部认证服务器名字-->
	is_sms:<input name="is_sms" value="1">        			 <!--开启短信认证-->
	is_cert:<input name="is_cert" value="1">        		 <!--开启证书认证-->
	is_hardid:<input name="is_hardid" value="1">        	 <!--开启硬件特征码认证-->
	is_token:<input name="is_token" value="1">        		 <!--开启token认证-->
	token_svr_id:<input name="token_svr_id" value="0">       <!--动态令牌认证方式 (开启token认证时使用)-->
	is_extauth:<input name="is_extauth" value="1">    		 <!--外部服务器认证1启用-->
	ext_auth_id:<input name="ext_auth_id" value="1">         <!--外部认证服务器id-->
	auth_type:<input name="auth_type" value="0">         	 <!--多认证方式(0:同时使用)-->
</form>
<button onClick="Submit('UpdateUserCloud')">编辑用户</button>

<form id="AddUserCloud" action="https://199.201.136.182:4430/cgi-bin/php-cgi/html/delegatemodule/WebApi.php?controler=User&action=AddUserCloud" method="POST" style="margin-top:20px">
    <input id="sinfor_apitoken_AddUserCloud" name="sinfor_apitoken" value="" type="hidden"/>			<!--登录验证用的token-->  
    name:<input name="name" value="user1">
	parent_group:<input name="parent_group" value="/">
    note:<input name="note" value="">
	passwd:<input name="passwd" value="">
	phone:<input name="phone" value="">
	b_inherit_auth:<input name="b_inherit_auth" value="1">
	b_inherit_grpolicy:<input name="b_inherit_grpolicy" value="1">
	gqsj:<input name="gqsj" value="1">        				 <!--用不过期-->
	ex_time:<input name="ex_time" value="2025-12-26">        <!--过期时间-->
	is_enable:<input name="is_enable" value="1">    		 <!--1:启用,0:禁用-->
	is_public:<input name="is_public" value="1">             <!--是否是公共用户-->
	is_Autoip:<input name="is_Autoip" value="0">       		 <!--虚拟IP (0:手动设置,1:自动获取)-->
	allocateip:<input name="allocateip" value="">     <!--虚拟IP( 启用手动设置时可配)-->
	is_pwd:<input name="is_pwd" value="1">        			 <!--开启密码认证-->
	is_sms:<input name="is_sms" value="1">        			 <!--开启短信认证-->
	is_cert:<input name="is_cert" value="1">        		 <!--开启证书认证-->
	is_hardid:<input name="is_hardid" value="1">        	 <!--开启硬件特征码认证-->
	is_token:<input name="is_token" value="1">        		 <!--开启token认证-->
	token_svr_id:<input name="token_svr_id" value="0">       <!--动态令牌认证方式 (开启token认证时使用)-->
	is_extauth:<input name="is_extauth" value="1">    		 <!--外部服务器认证1启用-->
	ext_auth_id:<input name="ext_auth_id" value="1">         <!--外部认证服务器id-->
	auth_type:<input name="auth_type" value="0">         	 <!--多认证方式(0:同时使用)-->
	grpolicy_id:<input name="grpolicy_id" value="0">         <!--策略组选用(0:默认策略组)-->
	roleid:<input name="roleid" value="1">         			 <!--关联角色ID( 多角色id间逗号','分隔)-->
	szcername:<input name="szcername" value="">         	 <!--证书序列号-->
	caid:<input name="caid" value="">         	 			 <!--CAid-->
</form>
<button onClick="Submit('AddUserCloud')">添加用户</button>

<form id="UpdateUserInfoCloud" action="https://199.201.136.182:4430/cgi-bin/php-cgi/html/delegatemodule/WebApi.php?controler=User&action=UpdateUserInfoCloud" method="POST" style="margin-top:20px">
	<input id="sinfor_apitoken_UpdateUserInfoCloud" name="sinfor_apitoken" value="" type="hidden"/>			<!--登录验证用的token-->
	old_name:<input name="old_name" value="user1">
	new_name:<input name="new_name" value="user2">
	parent_group:<input name="parent_group" value="/">
	note:<input name="note" value="">
	passwd:<input name="passwd" value="">
	phone:<input name="passwd" value="">
	b_inherit_auth:<input name="b_inherit_auth" value="1">
	b_inherit_grpolicy:<input name="b_inherit_grpolicy" value="1">
	is_enable:<input name="is_enable" value="1">    		 <!--1:启用,0:禁用-->
	is_public:<input name="is_public" value="1">             <!--是否是公共用户-->
</form>
<button onClick="Submit('UpdateUserInfoCloud')">编辑用户</button>

<form id="DelUserByNameCloud" action="https://199.201.136.182:4430/cgi-bin/php-cgi/html/delegatemodule/WebApi.php?controler=User&action=DelUserByNameCloud" method="POST" style="margin-top:20px">
    <input id="sinfor_apitoken_DelUserByNameCloud" name="sinfor_apitoken" value="" type="hidden"/>			<!--登录验证用的token--> 
    names:<input name="names" value='["user1"]'> 
</form>
<button onClick="Submit('DelUserByNameCloud')">删除用户</button>

<form id="ExGetUserInfo" action="https://199.201.136.182:4430/cgi-bin/php-cgi/html/delegatemodule/WebApi.php?controler=User&action=ExGetUserInfo" method="POST" style="margin-top:20px">
	<input id="sinfor_apitoken_ExGetUserInfo" name="sinfor_apitoken" value="" type="hidden"/>			<!--登录验证用的token-->
	username:<input name="username" value="user1"> 
</form>
<button onClick="Submit('ExGetUserInfo')">查询单个用户信息</button>

<form id="GetGroupInfo" action="https://199.201.136.182:4430/cgi-bin/php-cgi/html/delegatemodule/WebApi.php?controler=Group&action=GetGroupInfo" method="POST" style="margin-top:20px">
    <input id="sinfor_apitoken_GetGroupInfo" name="sinfor_apitoken" value="" type="hidden"/>			<!--登录验证用的token-->   
    group_name:<input name="group_name" value="/group1"> 					<!--用户组全路径--> 
</form>
<button onClick="Submit('GetGroupInfo')">查询用户组信息</button>

<form id="AddGroupCloud" action="https://199.201.136.182:4430/cgi-bin/php-cgi/html/delegatemodule/WebApi.php?controler=Group&action=AddGroupCloud" method="POST" style="margin-top:20px">
    <input id="sinfor_apitoken_AddGroupCloud" name="sinfor_apitoken" value="" type="hidden"/>			<!--登录验证用的token-->   
    name:<input name="name" value="group1"> 	
	parent_group:<input name="parent_group" value="/"> 	 	
	b_inherit_auth:<input name="b_inherit_auth" value="1"> 	
	b_inherit_grpolicy:<input name="b_inherit_grpolicy" value="1"> 	
	b_inherit_prole:<input name="b_inherit_prole" value="0">            <!--继承上级用户组关联角色(1:是,0:否)-->
	b_force_inherit_auth:<input name="b_force_inherit_auth" value="0">  <!--强制下级组及其用户继承本组认证选项-->
	b_force_grpolicy:<input name="b_force_grpolicy" value="0">  <!--强制下级组及其用户继承本组策略选项-->
	max_users:<input name="max_users" value="0">           <!--最大用户并发数-->
	is_enable:<input name="is_enable" value="0">           <!--用户组启禁用-->
	auth_type:<input name="auth_type" value="0">		   <!--多认证方式(0:同时使用)-->
	is_pwd:<input name="is_pwd" value="1">        			 <!--开启密码认证-->
	is_sms:<input name="is_sms" value="1">        			 <!--开启短信认证-->
	is_cert:<input name="is_cert" value="1">        		 <!--开启证书认证-->
	is_hardid:<input name="is_hardid" value="1">        	 <!--开启硬件特征码认证-->
	is_token:<input name="is_token" value="1">        		 <!--开启token认证-->
	token_svr_id:<input name="token_svr_id" value="0">       <!--动态令牌认证方式 (开启token认证时使用)-->
	is_extauth:<input name="is_extauth" value="1">    		 <!--外部服务器认证1启用-->
	ext_auth_id:<input name="ext_auth_id" value="1">         <!--外部认证服务器id-->
	grpolicy_id:<input name="grpolicy_id" value="0">         <!--策略组选用(0:默认策略组)-->
	roleid:<input name="roleid" value="1">         			 <!--关联角色ID( 多角色id间逗号','分隔)-->
</form>
<button onClick="Submit('AddGroupCloud')">增加用户组</button>


<form id="UpdateGroupCloud" action="https://199.201.136.182:4430/cgi-bin/php-cgi/html/delegatemodule/WebApi.php?controler=Group&action=UpdateGroupCloud" method="POST" style="margin-top:20px">
	<input id="sinfor_apitoken_UpdateGroupCloud" name="sinfor_apitoken" value="" type="hidden"/>			<!--登录验证用的token-->
	old_name:<input name="old_name" value="group1">
	new_name:<input name="new_name" value="group2">
	note:<input name="note" value="">
	old_parent_group:<input name="old_parent_group" value="/">
	new_parent_group:<input name="new_parent_group" value="/">
	is_enable:<input name="is_enable" value="1">
</form>
<button onClick="Submit('UpdateGroupCloud')">编辑用户组</button>


<form id="DeleteGroupCloud" action="https://199.201.136.182:4430/cgi-bin/php-cgi/html/delegatemodule/WebApi.php?controler=Group&action=DeleteGroupCloud" method="POST" style="margin-top:20px">
    <input id="sinfor_apitoken_DeleteGroupCloud" name="sinfor_apitoken" value="" type="hidden"/>			<!--登录验证用的token-->   
    names<input name="names" value='["/group1"]'> 	
</form>
<button onClick="Submit('DeleteGroupCloud')">删除用户组</button>


<!--获取用户列表-->
<form id="GetSearchData" action="https://199.201.136.182:4430/cgi-bin/php-cgi/html/delegatemodule/WebApi.php?controler=Group&action=GetSearchData" method="POST" style="margin-top:20px">
	<input id="sinfor_apitoken_GetSearchData" name="sinfor_apitoken" value="" type="hidden"/>			<!--登录验证用的token-->
	dir:<input id="dir" name="dir" value="ASC"/>			<!--结果排序类型-->
	grpid:<input id="grpid" name="grpid" value="-100"/>			<!--用户组id-->
	keystr:<input id="keystr" name="keystr" value=""/>			<!--搜索用户关键字-->
	keytype:<input id="keytype" name="keytype" value=""/>			<!--搜索关键字类型-->
	limit:<input id="limit" name="limit" value="25"/>			<!--获取用户个数-->
	start:<input id="start" name="start" value="0"/>			<!--获取用户起始位置-->
	recflag:<input id="recflag" name="recflag" value="1"/>			<!--是否包括子组-->
	sort:<input id="sort" name="sort" value="name"/>			<!--获取结果排序字段-->
</form>
<button onClick="Submit('GetSearchData')">获取用户列表信息</button>

<form id="ExtSetEnable" action="https://199.201.136.182:4430/cgi-bin/php-cgi/html/delegatemodule/WebApi.php?controler=Group&action=ExtSetEnable" method="POST" style="margin-top:20px">
    <input id="sinfor_apitoken_ExtSetEnable" name="sinfor_apitoken" value="" type="hidden"/>			<!--登录验证用的token-->  
    username:<input name="username" value="test">            <!--用户名-->
	enable:<input name="enable" value="0">                   <!--启用或禁用-->
</form>
<button onClick="Submit('ExtSetEnable')">启用或禁用用户</button>

<form id="changePwd" action="https://199.201.136.182:4430/cgi-bin/php-cgi/html/delegatemodule/WebApi.php?controler=User&action=changePwd" method="POST" style="margin-top:20px">
    <input id="sinfor_apitoken_changePwd" name="sinfor_apitoken" value="" type="hidden"/>			<!--登录验证用的token--> 
    username:<input name="username" value="user1"> 			<!--用户名-->	
	passwd:<input name="passwd" value="123"> 				<!--密码-->
</form>
<button onClick="Submit('changePwd')">修改密码</button>

<form id="GetOnlineUserCloud" action="https://199.201.136.182:4430/cgi-bin/php-cgi/html/delegatemodule/WebApi.php?controler=State&action=GetOnlineUserCloud" method="POST" style="margin-top:20px">
    <input id="sinfor_apitoken_GetOnlineUserCloud" name="sinfor_apitoken" value="" type="hidden"/>			<!--登录验证用的token-->  
	parent_group:<input name="parent_group" value="/默认用户组">
    sort:<input name="sort" value="name">
	dir:<input name="dir" value="ASC">
	recflag:<input name="recflag" value="1">
</form>
<button onClick="Submit('GetOnlineUserCloud')">查询在线用户信息</button>


<form id="KillOnlineUserCloud" action="https://199.201.136.182:4430/cgi-bin/php-cgi/html/delegatemodule/WebApi.php?controler=State&action=KillOnlineUserCloud" method="POST" style="margin-top:20px">
    <input id="sinfor_apitoken_KillOnlineUserCloud" name="sinfor_apitoken" value="" type="hidden"/>			<!--登录验证用的token-->   
	users:<input name="users" value='["test"]'>
</form>
<button onClick="Submit('KillOnlineUserCloud')">断开用户</button>

<form id="AddVipCloud" action="https://199.201.136.182:4430/cgi-bin/php-cgi/html/delegatemodule/WebApi.php?controler=VIP&action=AddVipCloud" method="POST" style="margin-top:20px">
    <input id="sinfor_apitoken_AddVipCloud" name="sinfor_apitoken" value="" type="hidden"/>			<!--登录验证用的token-->   
    ipsegment:<input name="ipsegment" value="6.1.1.1-6.1.1.20">  		<!--IP池地址范围-->
	parent_group:<input name="parent_group" value="/默认用户组"> 		<!--所属组全路径-->
	des:<input name="des" value="">                  					<!--描述-->       
</form>
<button onClick="Submit('AddVipCloud')">增加虚拟ip池</button>


<form id="ExGetResource" action="https://199.201.136.182:4430/cgi-bin/php-cgi/html/delegatemodule/WebApi.php?controler=Resource&action=ExGetResource" method="post" style="margin-top:20px;">
	<input id="sinfor_apitoken_ExGetResource" name="sinfor_apitoken" value="" type="hidden" /> 
	
</form>
<button onClick="Submit('ExGetResource')">资源查看</button>
<script type="text/javascript">
function Submit(id){
	var timestamp = Date.parse(new Date()).toString();
	timestamp = timestamp.substr(0,10);
	var key = "sangfor8e34ac26499a4fcf2e58d9349";   //密钥
	sinfor_apitoken = faultylabs.MD5(timestamp + key) + timestamp;
	sinfor_apitoken = sinfor_apitoken.toLowerCase();
	document.getElementById("sinfor_apitoken_" + id).value = sinfor_apitoken;
	document.getElementById(id).submit();
}
</script>